DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
POSTGRES_DB=virtual_cohesion
POSTGRES_USER=vc_user
POSTGRES_PASSWORD=vc_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost
